/* layer: preflights */
*,::before,::after{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}::backdrop{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}
/* layer: default */
.sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);white-space:nowrap;border-width:0;}
.pointer-events-none{pointer-events:none;}
.absolute{position:absolute;}
.relative,
[relative=""]{position:relative;}
.after\:absolute::after{position:absolute;}
.inset-0{inset:0;}
.bottom-0{bottom:0;}
.left-1\/2{left:50%;}
.right-\[-110px\]{right:-110px;}
.after\:-bottom-2::after{bottom:-0.5rem;}
.after\:left-1\/2::after{left:50%;}
.z-\[-1\]{z-index:-1;}
.z-10{z-index:10;}
.z-20{z-index:20;}
.after\:z-20::after{z-index:20;}
.grid{display:grid;}
.col-span-1,
[col-span-1=""]{grid-column:span 1/span 1;}
.float-right{float:right;}
.m-0{margin:0;}
.m-auto{margin:auto;}
.mb-2{margin-bottom:0.5rem;}
.ml-2{margin-left:0.5rem;}
.mt-1{margin-top:0.25rem;}
.mt-2{margin-top:0.5rem;}
.mt-4{margin-top:1rem;}
.block{display:block;}
.after\:block::after{display:block;}
.inline-block{display:inline-block;}
.hidden{display:none;}
.h-\[240px\]{height:240px;}
.h-3{height:0.75rem;}
.h-6{height:1.5rem;}
.h-full{height:100%;}
.h-max{height:max-content;}
.max-h-\[50px\]{max-height:50px;}
.max-h-\[70px\]{max-height:70px;}
.max-w-6xl{max-width:72rem;}
.max-w-full{max-width:100%;}
.min-h-\[44px\]{min-height:44px;}
.min-h-0{min-height:0;}
.min-h-screen{min-height:100vh;}
.min-w-\[7ch\]{min-width:7ch;}
.w-3{width:0.75rem;}
.w-auto{width:auto;}
.w-fit{width:fit-content;}
.w-full,
[w-full=""]{width:100%;}
.w-max{width:max-content;}
.after\:h-4::after{height:1rem;}
.after\:w-4::after{width:1rem;}
.flex{display:flex;}
.inline-flex{display:inline-flex;}
.flex-1{flex:1 1 0%;}
.flex-none{flex:none;}
.flex-col{flex-direction:column;}
.flex-wrap{flex-wrap:wrap;}
.perspective-1200,
[perspective-1200=""]{-webkit-perspective:1200px;perspective:1200px;}
.-translate-x-1\/2{--un-translate-x:-50%;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.-translate-y-24{--un-translate-y:-6rem;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.translate-y-0,
.group:focus-within .group-focus-within\:translate-y-0,
.group:hover .group-hover\:translate-y-0{--un-translate-y:0;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.translate-y-3{--un-translate-y:0.75rem;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.group:focus-within .group-focus-within\:-translate-y-3,
.group:hover .group-hover\:-translate-y-3{--un-translate-y:-0.75rem;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.group:hover .group-hover\:-translate-y-1{--un-translate-y:-0.25rem;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.group:hover .group-hover\:translate-x-1{--un-translate-x:0.25rem;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.active\:translate-x-\[3px\]:active{--un-translate-x:3px;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.active\:translate-y-\[3px\]:active{--un-translate-y:3px;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.after\:-translate-x-1\/2::after{--un-translate-x:-50%;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.after\:rotate-45::after{--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-rotate:45deg;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.transform,
[transform=""]{transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
@keyframes ping{0%{transform:scale(1);opacity:1}75%,100%{transform:scale(2);opacity:0}}
.animate-ping{animation:ping 1s cubic-bezier(0,0,.2,1) infinite;}
.cursor-pointer{cursor:pointer;}
.select-none{-webkit-user-select:none;user-select:none;}
.list-disc{list-style-type:disc;}
.list-inside{list-style-position:inside;}
.list-none{list-style-type:none;}
.items-start{align-items:flex-start;}
.items-center{align-items:center;}
.justify-start,
[justify-start=""]{justify-content:flex-start;}
.justify-center{justify-content:center;}
.justify-between{justify-content:space-between;}
.gap-1{gap:0.25rem;}
.gap-2{gap:0.5rem;}
.gap-3{gap:0.75rem;}
.gap-4{gap:1rem;}
.overflow-hidden{overflow:hidden;}
.truncate{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.whitespace-normal{white-space:normal;}
.whitespace-nowrap{white-space:nowrap;}
.border{border-width:1px;}
.border-darkslate-100{--un-border-opacity:1;border-color:rgb(44 44 44 / var(--un-border-opacity));}
.border-primary-500{--un-border-opacity:1;border-color:rgb(230 57 70 / var(--un-border-opacity));}
.hover\:border-primary-500:hover{--un-border-opacity:1;border-color:rgb(230 57 70 / var(--un-border-opacity));}
.rounded{border-radius:0.25rem;}
.rounded-full{border-radius:9999px;}
.rounded-lg{border-radius:0.5rem;}
.border-solid{border-style:solid;}
.bg-black{--un-bg-opacity:1;background-color:rgb(0 0 0 / var(--un-bg-opacity)) /* #000 */;}
.bg-darkslate-400\/30{background-color:rgb(26 26 26 / 0.3) /* #1A1A1A */;}
.bg-darkslate-500,
.bg-gray-900{--un-bg-opacity:1;background-color:rgb(23 23 23 / var(--un-bg-opacity)) /* #171717 */;}
.bg-darkslate-700{--un-bg-opacity:1;background-color:rgb(17 17 17 / var(--un-bg-opacity)) /* #111111 */;}
.bg-red-400{--un-bg-opacity:1;background-color:rgb(248 113 113 / var(--un-bg-opacity)) /* #f87171 */;}
.bg-red-500{--un-bg-opacity:1;background-color:rgb(239 68 68 / var(--un-bg-opacity)) /* #ef4444 */;}
.after\:bg-black::after{--un-bg-opacity:1;background-color:rgb(0 0 0 / var(--un-bg-opacity)) /* #000 */;}
.p-2{padding:0.5rem;}
.p-6{padding:1.5rem;}
.px-5{padding-left:1.25rem;padding-right:1.25rem;}
.py-2{padding-top:0.5rem;padding-bottom:0.5rem;}
.pl-5{padding-left:1.25rem;}
.text-center{text-align:center;}
.text-left{text-align:left;}
.align-baseline{vertical-align:baseline;}
.align-start{vertical-align:top;}
.text-\[0\.5em\]{font-size:0.5em;}
.text-base{font-size:1rem;line-height:1.5rem;}
.text-sm{font-size:0.875rem;line-height:1.25rem;}
.text-xl{font-size:1.25rem;line-height:1.75rem;}
.text-xs{font-size:0.75rem;line-height:1rem;}
.text-\[clamp\(1\.25rem\,4vw\,2\.125rem\)\]{font-size:clamp(1.25rem,4vw,2.125rem);}
.text-gray-200{--un-text-opacity:1;color:rgb(229 229 229 / var(--un-text-opacity)) /* #E5E5E5 */;}
.text-gray-500{--un-text-opacity:1;color:rgb(115 115 115 / var(--un-text-opacity)) /* #737373 */;}
.text-neutral-100{--un-text-opacity:1;color:rgb(245 245 245 / var(--un-text-opacity)) /* #f5f5f5 */;}
.text-neutral-200{--un-text-opacity:1;color:rgb(229 229 229 / var(--un-text-opacity)) /* #e5e5e5 */;}
.text-neutral-300{--un-text-opacity:1;color:rgb(212 212 212 / var(--un-text-opacity)) /* #d4d4d4 */;}
.text-primary-500,
.group:hover .group-hover\:text-primary-500{--un-text-opacity:1;color:rgb(230 57 70 / var(--un-text-opacity)) /* #E63946 */;}
.text-red-500{--un-text-opacity:1;color:rgb(239 68 68 / var(--un-text-opacity)) /* #ef4444 */;}
.text-white{--un-text-opacity:1;color:rgb(255 255 255 / var(--un-text-opacity)) /* #fff */;}
.hover\:text-primary-500:hover{--un-text-opacity:1;color:rgb(230 57 70 / var(--un-text-opacity)) /* #E63946 */;}
.font-bold{font-weight:700;}
.font-light{font-weight:300;}
.leading-none{line-height:1;}
.leading-tight{line-height:1.25;}
.tracking-\[0\.08em\]{letter-spacing:0.08em;}
.font-serif{font-family:ui-serif,Georgia,Cambria,"Times New Roman",Times,serif;}
.font-italic{font-style:italic;}
.tabular-nums{--un-numeric-spacing:tabular-nums;font-variant-numeric:var(--un-ordinal) var(--un-slashed-zero) var(--un-numeric-figure) var(--un-numeric-spacing) var(--un-numeric-fraction);}
.opacity-0,
.group:focus-within .group-focus-within\:opacity-0,
.group:hover .group-hover\:opacity-0{opacity:0;}
.opacity-100,
.group:focus-within .group-focus-within\:opacity-100,
.group:hover .group-hover\:opacity-100{opacity:1;}
.opacity-50{opacity:0.5;}
.opacity-75{opacity:0.75;}
.shadow-custom{--un-shadow:2px 2px 0 var(--un-shadow-color);box-shadow:var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);}
.shadow-lg{--un-shadow:var(--un-shadow-inset) 0 10px 15px -3px var(--un-shadow-color, rgb(0 0 0 / 0.1)),var(--un-shadow-inset) 0 4px 6px -4px var(--un-shadow-color, rgb(0 0 0 / 0.1));box-shadow:var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);}
.shadow-primary-500{--un-shadow-opacity:1;--un-shadow-color:rgb(230 57 70 / var(--un-shadow-opacity)) /* #E63946 */;}
.active\:shadow-none:active{--un-shadow:0 0 var(--un-shadow-color, rgb(0 0 0 / 0));box-shadow:var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);}
.after\:shadow-custom::after{--un-shadow:2px 2px 0 var(--un-shadow-color);box-shadow:var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);}
.after\:shadow-primary-500::after{--un-shadow-opacity:1;--un-shadow-color:rgb(230 57 70 / var(--un-shadow-opacity)) /* #E63946 */;}
.transition,
[transition=""]{transition-property:color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms;}
.transition-all{transition-property:all;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms;}
.transition-colors{transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms;}
.transition-transform{transition-property:transform;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms;}
.duration-100{transition-duration:100ms;}
.duration-300{transition-duration:300ms;}
.duration-75,
[duration-75=""]{transition-duration:75ms;}
.ease-in-out,
[ease-in-out=""]{transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);}
.ease-out{transition-timing-function:cubic-bezier(0, 0, 0.2, 1);}
.after\:content-\[\'\'\]::after{content:'';}
@media (min-width: 640px){
.sm\:h-auto{height:auto;}
.sm\:gap-2{gap:0.5rem;}
.sm\:p-4{padding:1rem;}
}
@media (min-width: 768px){
.md\:relative{position:relative;}
.md\:bottom-auto{bottom:auto;}
.md\:right-auto{right:auto;}
.md\:z-auto{z-index:auto;}
.md\:col-span-1{grid-column:span 1/span 1;}
.md\:col-span-2{grid-column:span 2/span 2;}
.md\:col-span-3{grid-column:span 3/span 3;}
.md\:row-span-1{grid-row:span 1/span 1;}
.md\:row-span-2{grid-row:span 2/span 2;}
.md\:row-span-5{grid-row:span 5/span 5;}
.md\:row-span-6{grid-row:span 6/span 6;}
.md\:grid-cols-\[1fr_1fr_0\.9fr\]{grid-template-columns:1fr 1fr 0.9fr;}
.md\:h-\[300px\]{height:300px;}
.md\:max-h-\[300px\]{max-height:300px;}
.md\:min-h-\[360px\]{min-height:360px;}
.md\:self-end{align-self:flex-end;}
.md\:justify-center{justify-content:center;}
.md\:gap-3{gap:0.75rem;}
.md\:p-6{padding:1.5rem;}
.md\:py-3{padding-top:0.75rem;padding-bottom:0.75rem;}
.md\:opacity-100{opacity:1;}
}
@media (min-width: 1024px){
.lg\:col-span-1{grid-column:span 1/span 1;}
.lg\:row-span-5{grid-row:span 5/span 5;}
.lg\:grid-cols-4{grid-template-columns:repeat(4,minmax(0,1fr));}
.lg\:h-\[300px\]{height:300px;}
.lg\:min-h-\[380px\]{min-height:380px;}
.lg\:gap-4{gap:1rem;}
}